body {
    // background-image: url("https://cdnp3.stackassets.com/f46dfbca739062efa2b8665b1c0218f4e8279cce/store/a3db2b7e0123bdf552b4bfb32b5dd0dff290489c267fbc9699877a795b55/b83e384760c8f9c53299916949803ee9661f400e_main_hero_image.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed; // position: fixed;
    //   top: 5%;
    //   left: 5%;
    //   width: 90%;
    //   height: 90%;
    //   z-index: 12;
    //   -webkit-background-size: cover;
    //   -moz-background-size: cover;
    //   -o-background-size: cover;
    //   background-size: cover;
    //   background-position: top;
}

.home-background {
    background-image: url("../images/15267863_10157846062305164_1240896414128498348_n.jpg);
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 150px;
    // background-size: cover;
}

/////fonts/////
.motto {
    // color: #202020;
    // background-color: #2d2d2d;
    // letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111,
    2px 2px 1px #363636;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    padding: 70px 0;
    text-align: center;
    margin-top: 150px;
    color: #FFF;
    opacity: 0.5;
}

.navbar {
    background-color: #FFB1B1;
}

.navbar-default .navbar-brand {
    font-family: 'Dancing Scrip', cursive;
    font-size: 22px;
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

// // h1 {
// //     font-size: 8em;
// //     color: white;
// //     text-align: center;
// //     margin-top: 350px;
// //     opacity: .5;
// }
/////text hover on image/////
.text-effect {
    position: relative; // width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.text-effect:hover .image {
    opacity: 0.3;
    -webkit-filter: blur(3px);
    /* Safari 6.0 - 9.0 */
    filter: blur(3px);
}

.text-effect:hover .middle {
    opacity: 1;
}

.text {
    background-color: lightblue;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 10px;
}


///scroll to top button//////
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: white; // background-color: lightblue;
}

.nav {
    font-size: 16px;
    color: #FFF;
}

///// Contact form /////////
// Grid
@mixin grid($column) {
    width: (100% / 12) * $column;
    margin: 0 auto;
}

// Transition Ease
@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
    -webkit-transition: $attr $time $curve;
    -moz-transition: $attr $time $curve;
    -o-transition: $attr $time $curve;
    -ms-transition: $attr $time $curve;
    transition: $attr $time $curve;
}

//-- Lato --//
@mixin lato-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

@mixin lato-1-i {
    @include lato-1;
    font-style: italic;
}

@mixin lato-3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

@mixin lato-3-i {
    @include lato-3;
    font-style: italic;
}

@mixin lato-4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

@mixin lato-4-i {
    @include lato-4;
    font-style: italic;
}

@mixin lato-7 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

@mixin lato-7-i {
    @include lato-7;
    font-style: italic;
}

@mixin lato-9 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

@mixin lato-9-i {
    @include lato-9;
    font-style: italic;
}

body {
    // background: $background;
    font-size: 62.5%;
    @include lato-3;
    color: grey;

    section {
        background: white;
        margin: 60px auto 120px;
        border-top: 15px solid #FFB1B1;
        text-align: center;
        padding: 50px 0 110px;
        width: 80%;
        max-width: 1100px;

        h1 {
            margin-bottom: 40px;
            font-size: 4em;
            text-transform: uppercase;
            @include lato-1;
        }
    }
}

// Form
form {
    @include grid(7);

    .field {
        width: 100%;
        position: relative;
        margin-bottom: 15px;

        $hover-label-width: 18%;
        $placeholder-bumper: 1.5%;
        $label-padding: 18px; // Label
        label {
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            background: #FFBEBE;
            width: 100%;
            padding: ($label-padding + 0px) 0;
            font-size: 1.45em;
            letter-spacing: 0.075em;

            @include ease(333ms); // Checkmark
            +span {
                font-family: 'SSStandard';
                opacity: 0;
                color: white;
                display: block;
                position: absolute;
                top: 12px;
                left: 7%;
                font-size: 2.5em;
                text-shadow: 1px 2px 0 orange;

                @include ease(333ms);
            }
        } // Fields
        input[type="text"],
        textarea {
            border: none; // background:$field-color;
            width: 100% - $hover-label-width - $placeholder-bumper;
            margin: 0;
            padding: $label-padding 0;
            padding-left: $hover-label-width + $placeholder-bumper;
            color: #CF7575;
            font-size: 1.4em;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            &#msg {
                height: 18px;
                resize: none;
                @include ease(333ms);
            } // Focus and JS Toggle Class
            &:focus,
            &.focused {
                outline: none;

                &#msg {
                    padding-bottom: 150px;
                }

                +label {
                    width: $hover-label-width;
                    background: orange;
                    color: #FFF;
                }
            } // JS Toggle Class
            &.focused {
                +label {
                    color: orange;
                }
            }
        } // Field Hover
        &:hover {
            label {
                width: $hover-label-width;
                background: #974949;
                color: white;
            }
        }
    } // Submit Button
    input[type="submit"] {
        background: #808080;
        color: white;
        -webkit-appearance: none;
        border: none;
        text-transform: uppercase;
        position: relative;
        padding: 13px 50px;
        font-size: 1.4em;
        letter-spacing: 0.1em;
        @include lato-3;
        @include ease;

        &:hover {
            background: #974949;
            color: #808080;
        }

        &:focus {
            outline: none;
            background: orange;
        }
    }
}