<section id="hire">
    <h1>Contact Me</h1>
    <form>
        <div class="field name-box">
            <input type="text" id="name" placeholder="Who Are You?" />
            <label for="name">Name</label>
            <span class="ss-icon">check</span>
        </div>
        <div class="field email-box">
            <input type="text" id="email" placeholder="name@email.com" />
            <label for="email">Email</label>
            <span class="ss-icon">check</span>
        </div>
        <div class="field msg-box">
            <textarea id="msg" rows="4" placeholder="Your message goes here..." /></textarea>
            <label for="msg">Msg</label>
            <span class="ss-icon">check</span>
        </div>
        <input class="button" type="submit" value="Send" />
    </form>
    <section class="social-media">
        <!-- <div class="col-xs-3"> -->
        <a ng-href="https://www.facebook.com/monica.west.311" class="fa fa-facebook-square fa-5x" aria-hidden="true" ng-click=""></a>
        <!-- <br> -->
        <a ng-href="https://www.facebook.com/monica.west.311" class="fa fa-instagram fa-5x" aria-hidden="true" ng-click=""></a>
        <!-- <br> -->
        <a ng-href="https://www.linkedin.com/in/monica-west-ba57a2144/" class="fa fa-linkedin-square fa-5x" aria-hidden="true" ng-click=""></a>
        <!-- <br> -->
    </section>
    <!-- </div> -->
</section>