<h3>hey</h3>
<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div ng-repeat="photo in photos | filter: searchText">
            <div class="text-effect col-sm-3">
                <img ng-src="{{photo.image}}" class="img-responsive image" style="width:100%" alt="Image">
                <div class="middle">
                    <button class="text">{{photo.title}}</button>
                </div>
            </div>
        </div>
    </div><!-- row -->
</div><!-- container --><div class="container-fluid bg-3 text-center">
    <div class="row">
        <div ng-repeat="photo in photos | filter: searchText">
            <div class="text-effect col-sm-3">
                <img ng-src="{{photo.image}}" class="img-responsive image" style="width:100%" alt="Image">
                <div class="middle">
                    <button class="text">{{photo.title}}</button>
                </div>
            </div>
        </div>
    </div><!-- row -->
</div><!-- container --><div class="container-fluid bg-3 text-center">
    <div class="row">
        <div ng-repeat="photo in photos | filter: searchText">
            <div class="text-effect col-sm-3">
                <img ng-src="{{photo.image}}" class="img-responsive image" style="width:100%" alt="Image">
                <div class="middle">
                    <button class="text">{{photo.title}}</button>
                </div>
            </div>
        </div>
    </div><!-- row -->
</div><!-- container -->


<!-- <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> -->