  <div>
    <h1></h1>    
  </div>
  
  <div class="container-fluid bg-3 text-center">    
  <h3 class="motto">Eyes like a shutter<br>mind like a lens</h3><br>
  <div class="row">
<!--     <div class="col-sm-3">
      <p>Some text..</p>
      <img src="images/Seniors.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="/images/IMG_6304.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="images/Seniors.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="/images/IMG_6304.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div> -->
</div><br>

<div class="footer">
  <p>&copy; 2017 MonicaWestPhotography.com</p>
</div>


<!-- <div>
  <h1 class="tag">LET'S SHOOT</h1>
</div> -->


<!--  <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/images/IMG_6304.jpg">
        <img src="/images/IMG_6304.jpg" alt="Lights" style="width:100%">
        <p></p>
        <div class="caption">
          
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/images/Matterings.jpg">
        <img src="/images/Matterings.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p></p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/images/Seniors.jpg">
        <img src="/images/Seniors.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p></p>
        </div>
      </a>
    </div>
  </div>
</div> -->
 