<h3>Weddings</h3>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div ng-repeat="wedding in weddings | filter: searchText">
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a ng-href="{{wedding.image}}"><img ng-src="{{wedding.image}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div ng-repeat="wedding in weddings | filter: searchText">
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a ng-href="{{wedding.image}}"><img ng-src="{{wedding.image}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div ng-repeat="wedding in weddings | filter: searchText">
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a ng-href="{{wedding.image}}"><img ng-src="{{wedding.image}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 



