.motto {
  letter-spacing: .1em;
  text-shadow: -1px -1px 1px #111,  2px 2px 1px #363636;
  font-family: 'Allura', cursive;
  font-size: 100px;
  padding: 70px 0;
  text-align: center;
  margin-top: 150px;
  color: white; }

.navbar {
  color: white; }

.text-effect {
  position: relative; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.text-effect:hover .image {
  opacity: 0.3;
  -webkit-filter: blur(3px);
  /* Safari 6.0 - 9.0 */
  filter: blur(3px); }

.text-effect:hover .middle {
  opacity: 1; }

.text {
  background-color: lightblue;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 10px; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */ }

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */ }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color: white; }
