body {
  background-image: url("https://cdnp3.stackassets.com/f46dfbca739062efa2b8665b1c0218f4e8279cce/store/a3db2b7e0123bdf552b4bfb32b5dd0dff290489c267fbc9699877a795b55/b83e384760c8f9c53299916949803ee9661f400e_main_hero_image.jpg");
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  z-index: 12;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top; }
